@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

#root,
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #7d893d;
  /* opacity: 0.8; */
  background: radial-gradient(
      circle,
      transparent 20%,
      #7d893d 20%,
      #7d893d 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #7d893d 20%,
        #7d893d 80%,
        transparent 80%,
        transparent
      )
      32.5px 32.5px,
    linear-gradient(#fcf5c1 2.6px, transparent 2.6px) 0 -1.3px,
    linear-gradient(90deg, #fcf5c1 2.6px, #7d893d 2.6px) -1.3px 0;
  background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
}

h1,
h2,
h3,
p {
  margin: 0;
  text-wrap: wrap;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 700;
}

.shadowed-text {
  text-shadow: 0px 0px 20px white;
}

.message-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.cake-container {
  padding: 10rem;
  margin-top: 3rem;
}

.main-message {
  font-size: 2rem;
  text-align: center;
}

.candle-area {
  width: 250px;
  height: 100px;
  z-index: 10;
  position: absolute;
  border-radius: 100%;
  transform: translate(-123px, -110px);
  transform-origin: top left;
}

.purple-candle {
  position: absolute;
  animation: pc 1s infinite;
  -webkit-animation: pc 1s infinite;
  -moz-animation: pc 1s infinite;
  -o-animation: pc 1s infinite;
  transform: scale(0.1);
  top: -90px;
  left: 62px;
  z-index: 2; /* optional */
  scale: 15;
}

.present-screen {
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7d893d;
  /* opacity: 0.8; */
  background: radial-gradient(
      circle,
      transparent 20%,
      #7d893d 20%,
      #7d893d 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #7d893d 20%,
        #7d893d 80%,
        transparent 80%,
        transparent
      )
      32.5px 32.5px,
    linear-gradient(#fcf5c1 2.6px, transparent 2.6px) 0 -1.3px,
    linear-gradient(90deg, #fcf5c1 2.6px, #7d893d 2.6px) -1.3px 0;
  background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
}

.bday-message {
  margin-bottom: 0.5rem;
}

.video {
  min-height: 50vh;
}

.confetti {
  height: 100vh;
  width: 100vw;
}

.replay-button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 2rem;
  background-color: #eea237;
  color: #362b1c;
}



@keyframes pc {
  0%,
  50% {
    box-shadow: 40px 5px 0 0 rgba(234, 208, 139, 0.3),
      35px 10px 0 0 rgba(234, 208, 139, 0.3),
      40px 10px 0 0 rgba(219, 150, 128, 1),
      45px 10px 0 0 rgba(234, 208, 139, 0.3),
      30px 15px 0 0 rgba(234, 208, 139, 0.3),
      35px 15px 0 0 rgba(219, 150, 128, 1), 40px 15px 0 0 rgba(234, 208, 139, 1),
      45px 15px 0 0 rgba(219, 150, 128, 1),
      50px 15px 0 0 rgba(234, 208, 139, 0.3),
      25px 20px 0 0 rgba(234, 208, 139, 0.3),
      30px 20px 0 0 rgba(219, 150, 128, 1), 35px 20px 0 0 rgba(234, 208, 139, 1),
      40px 20px 0 0 rgba(234, 208, 139, 1), 45px 20px 0 0 rgba(234, 208, 139, 1),
      50px 20px 0 0 rgba(219, 150, 128, 1),
      55px 20px 0 0 rgba(234, 208, 139, 0.3),
      25px 25px 0 0 rgba(234, 208, 139, 0.3),
      30px 25px 0 0 rgba(219, 150, 128, 1), 35px 25px 0 0 rgba(234, 208, 139, 1),
      40px 25px 0 0 rgba(234, 208, 139, 1), 45px 25px 0 0 rgba(234, 208, 139, 1),
      50px 25px 0 0 rgba(219, 150, 128, 1),
      55px 25px 0 0 rgba(234, 208, 139, 0.3),
      30px 30px 0 0 rgba(234, 208, 139, 0.3),
      35px 30px 0 0 rgba(219, 150, 128, 1), 40px 30px 0 0 rgba(121, 85, 72, 1),
      45px 30px 0 0 rgba(219, 150, 128, 1),
      50px 30px 0 0 rgba(234, 208, 139, 0.3), 40px 35px 0 0 rgba(121, 85, 72, 1),
      30px 40px 0 0 rgba(121, 85, 72, 1), 35px 40px 0 0 rgba(121, 85, 72, 1),
      40px 40px 0 0 rgba(121, 85, 72, 1), 45px 40px 0 0 rgba(121, 85, 72, 1),
      50px 40px 0 0 rgba(121, 85, 72, 1), 25px 45px 0 0 rgba(121, 85, 72, 1),
      30px 45px 0 0 rgba(255, 255, 255, 1), 35px 45px 0 0 rgba(255, 255, 255, 1),
      40px 45px 0 0 rgba(255, 255, 255, 1), 45px 45px 0 0 rgba(255, 255, 255, 1),
      50px 45px 0 0 rgba(255, 255, 255, 1), 55px 45px 0 0 rgba(121, 85, 72, 1),
      25px 50px 0 0 rgba(121, 85, 72, 1), 30px 50px 0 0 rgba(255, 255, 255, 1),
      35px 50px 0 0 rgba(255, 255, 255, 1), 40px 50px 0 0 rgba(255, 255, 255, 1),
      45px 50px 0 0 rgba(121, 85, 72, 1), 50px 50px 0 0 rgba(255, 255, 255, 1),
      55px 50px 0 0 rgba(121, 85, 72, 1), 25px 55px 0 0 rgba(121, 85, 72, 1),
      30px 55px 0 0 rgba(121, 85, 72, 1), 35px 55px 0 0 rgba(121, 85, 72, 1),
      40px 55px 0 0 rgba(121, 85, 72, 1), 45px 55px 0 0 rgba(189, 163, 184, 1),
      50px 55px 0 0 rgba(121, 85, 72, 1), 55px 55px 0 0 rgba(121, 85, 72, 1),
      30px 60px 0 0 rgba(121, 85, 72, 1), 35px 60px 0 0 rgba(189, 163, 184, 1),
      40px 60px 0 0 rgba(189, 163, 184, 1), 45px 60px 0 0 rgba(189, 163, 184, 1),
      50px 60px 0 0 rgba(121, 85, 72, 1), 30px 65px 0 0 rgba(121, 85, 72, 1),
      35px 65px 0 0 rgba(189, 163, 184, 1), 40px 65px 0 0 rgba(189, 163, 184, 1),
      45px 65px 0 0 rgba(189, 163, 184, 1), 50px 65px 0 0 rgba(121, 85, 72, 1),
      30px 70px 0 0 rgba(121, 85, 72, 1), 35px 70px 0 0 rgba(189, 163, 184, 1),
      40px 70px 0 0 rgba(189, 163, 184, 1), 45px 70px 0 0 rgba(189, 163, 184, 1),
      50px 70px 0 0 rgba(121, 85, 72, 1), 30px 75px 0 0 rgba(121, 85, 72, 1),
      35px 75px 0 0 rgba(189, 163, 184, 1), 40px 75px 0 0 rgba(189, 163, 184, 1),
      45px 75px 0 0 rgba(189, 163, 184, 1), 50px 75px 0 0 rgba(121, 85, 72, 1),
      30px 80px 0 0 rgba(121, 85, 72, 1), 35px 80px 0 0 rgba(189, 163, 184, 1),
      40px 80px 0 0 rgba(189, 163, 184, 1), 45px 80px 0 0 rgba(189, 163, 184, 1),
      50px 80px 0 0 rgba(121, 85, 72, 1), 35px 85px 0 0 rgba(121, 85, 72, 1),
      40px 85px 0 0 rgba(121, 85, 72, 1), 45px 85px 0 0 rgba(121, 85, 72, 1);
    height: 5px;
    width: 5px;
  }
  50.01%,
  100% {
    box-shadow: 40px 5px 0 0 rgba(219, 150, 128, 0.2),
      35px 10px 0 0 rgba(219, 150, 128, 0.2),
      40px 10px 0 0 rgba(219, 150, 128, 1),
      45px 10px 0 0 rgba(219, 150, 128, 0.2),
      30px 15px 0 0 rgba(219, 150, 128, 0.2),
      35px 15px 0 0 rgba(219, 150, 128, 1), 40px 15px 0 0 rgba(234, 208, 139, 1),
      45px 15px 0 0 rgba(219, 150, 128, 1),
      50px 15px 0 0 rgba(219, 150, 128, 0.2),
      25px 20px 0 0 rgba(219, 150, 128, 0.2),
      30px 20px 0 0 rgba(219, 150, 128, 1), 35px 20px 0 0 rgba(234, 208, 139, 1),
      40px 20px 0 0 rgba(234, 208, 139, 1), 45px 20px 0 0 rgba(234, 208, 139, 1),
      50px 20px 0 0 rgba(219, 150, 128, 1),
      55px 20px 0 0 rgba(219, 150, 128, 0.2),
      25px 25px 0 0 rgba(219, 150, 128, 0.2),
      30px 25px 0 0 rgba(219, 150, 128, 1), 35px 25px 0 0 rgba(234, 208, 139, 1),
      40px 25px 0 0 rgba(234, 208, 139, 1), 45px 25px 0 0 rgba(234, 208, 139, 1),
      50px 25px 0 0 rgba(219, 150, 128, 1),
      55px 25px 0 0 rgba(219, 150, 128, 0.2),
      30px 30px 0 0 rgba(219, 150, 128, 0.2),
      35px 30px 0 0 rgba(219, 150, 128, 1), 40px 30px 0 0 rgba(121, 85, 72, 1),
      45px 30px 0 0 rgba(219, 150, 128, 1),
      50px 30px 0 0 rgba(219, 150, 128, 0.2), 40px 35px 0 0 rgba(121, 85, 72, 1),
      30px 40px 0 0 rgba(121, 85, 72, 1), 35px 40px 0 0 rgba(121, 85, 72, 1),
      40px 40px 0 0 rgba(121, 85, 72, 1), 45px 40px 0 0 rgba(121, 85, 72, 1),
      50px 40px 0 0 rgba(121, 85, 72, 1), 25px 45px 0 0 rgba(121, 85, 72, 1),
      30px 45px 0 0 rgba(255, 255, 255, 1), 35px 45px 0 0 rgba(255, 255, 255, 1),
      40px 45px 0 0 rgba(255, 255, 255, 1), 45px 45px 0 0 rgba(255, 255, 255, 1),
      50px 45px 0 0 rgba(255, 255, 255, 1), 55px 45px 0 0 rgba(121, 85, 72, 1),
      25px 50px 0 0 rgba(121, 85, 72, 1), 30px 50px 0 0 rgba(255, 255, 255, 1),
      35px 50px 0 0 rgba(255, 255, 255, 1), 40px 50px 0 0 rgba(255, 255, 255, 1),
      45px 50px 0 0 rgba(121, 85, 72, 1), 50px 50px 0 0 rgba(255, 255, 255, 1),
      55px 50px 0 0 rgba(121, 85, 72, 1), 25px 55px 0 0 rgba(121, 85, 72, 1),
      30px 55px 0 0 rgba(121, 85, 72, 1), 35px 55px 0 0 rgba(121, 85, 72, 1),
      40px 55px 0 0 rgba(121, 85, 72, 1), 45px 55px 0 0 rgba(189, 163, 184, 1),
      50px 55px 0 0 rgba(121, 85, 72, 1), 55px 55px 0 0 rgba(121, 85, 72, 1),
      30px 60px 0 0 rgba(121, 85, 72, 1), 35px 60px 0 0 rgba(189, 163, 184, 1),
      40px 60px 0 0 rgba(189, 163, 184, 1), 45px 60px 0 0 rgba(189, 163, 184, 1),
      50px 60px 0 0 rgba(121, 85, 72, 1), 30px 65px 0 0 rgba(121, 85, 72, 1),
      35px 65px 0 0 rgba(189, 163, 184, 1), 40px 65px 0 0 rgba(189, 163, 184, 1),
      45px 65px 0 0 rgba(189, 163, 184, 1), 50px 65px 0 0 rgba(121, 85, 72, 1),
      30px 70px 0 0 rgba(121, 85, 72, 1), 35px 70px 0 0 rgba(189, 163, 184, 1),
      40px 70px 0 0 rgba(189, 163, 184, 1), 45px 70px 0 0 rgba(189, 163, 184, 1),
      50px 70px 0 0 rgba(121, 85, 72, 1), 30px 75px 0 0 rgba(121, 85, 72, 1),
      35px 75px 0 0 rgba(189, 163, 184, 1), 40px 75px 0 0 rgba(189, 163, 184, 1),
      45px 75px 0 0 rgba(189, 163, 184, 1), 50px 75px 0 0 rgba(121, 85, 72, 1),
      30px 80px 0 0 rgba(121, 85, 72, 1), 35px 80px 0 0 rgba(189, 163, 184, 1),
      40px 80px 0 0 rgba(189, 163, 184, 1), 45px 80px 0 0 rgba(189, 163, 184, 1),
      50px 80px 0 0 rgba(121, 85, 72, 1), 35px 85px 0 0 rgba(121, 85, 72, 1),
      40px 85px 0 0 rgba(121, 85, 72, 1), 45px 85px 0 0 rgba(121, 85, 72, 1);
    height: 5px;
    width: 5px;
  }
}

.purple-candle.blown {
  animation-iteration-count: 1;
  position: absolute;
  animation: pcb 1s forwards;
  -webkit-animation: pcb 1s forwards;
  -moz-animation: pcb 1s forwards;
  -o-animation: pcb 1s forwards;
  transform: scale(0.1);
}

@keyframes pcb {
  0%,
  16.7% {
    box-shadow: 40px 5px 0 0 rgba(234, 208, 139, 0.3),
      35px 10px 0 0 rgba(234, 208, 139, 0.3),
      40px 10px 0 0 rgba(219, 150, 128, 1),
      45px 10px 0 0 rgba(234, 208, 139, 0.3),
      30px 15px 0 0 rgba(234, 208, 139, 0.3),
      35px 15px 0 0 rgba(219, 150, 128, 1), 40px 15px 0 0 rgba(234, 208, 139, 1),
      45px 15px 0 0 rgba(219, 150, 128, 1),
      50px 15px 0 0 rgba(234, 208, 139, 0.3),
      25px 20px 0 0 rgba(234, 208, 139, 0.3),
      30px 20px 0 0 rgba(219, 150, 128, 1), 35px 20px 0 0 rgba(234, 208, 139, 1),
      40px 20px 0 0 rgba(234, 208, 139, 1), 45px 20px 0 0 rgba(234, 208, 139, 1),
      50px 20px 0 0 rgba(219, 150, 128, 1),
      55px 20px 0 0 rgba(234, 208, 139, 0.3),
      25px 25px 0 0 rgba(234, 208, 139, 0.3),
      30px 25px 0 0 rgba(219, 150, 128, 1), 35px 25px 0 0 rgba(234, 208, 139, 1),
      40px 25px 0 0 rgba(234, 208, 139, 1), 45px 25px 0 0 rgba(234, 208, 139, 1),
      50px 25px 0 0 rgba(219, 150, 128, 1),
      55px 25px 0 0 rgba(234, 208, 139, 0.3),
      30px 30px 0 0 rgba(234, 208, 139, 0.3),
      35px 30px 0 0 rgba(219, 150, 128, 1), 40px 30px 0 0 rgba(121, 85, 72, 1),
      45px 30px 0 0 rgba(219, 150, 128, 1),
      50px 30px 0 0 rgba(234, 208, 139, 0.3), 40px 35px 0 0 rgba(121, 85, 72, 1),
      30px 40px 0 0 rgba(121, 85, 72, 1), 35px 40px 0 0 rgba(121, 85, 72, 1),
      40px 40px 0 0 rgba(121, 85, 72, 1), 45px 40px 0 0 rgba(121, 85, 72, 1),
      50px 40px 0 0 rgba(121, 85, 72, 1), 25px 45px 0 0 rgba(121, 85, 72, 1),
      30px 45px 0 0 rgba(255, 255, 255, 1), 35px 45px 0 0 rgba(255, 255, 255, 1),
      40px 45px 0 0 rgba(255, 255, 255, 1), 45px 45px 0 0 rgba(255, 255, 255, 1),
      50px 45px 0 0 rgba(255, 255, 255, 1), 55px 45px 0 0 rgba(121, 85, 72, 1),
      25px 50px 0 0 rgba(121, 85, 72, 1), 30px 50px 0 0 rgba(255, 255, 255, 1),
      35px 50px 0 0 rgba(255, 255, 255, 1), 40px 50px 0 0 rgba(255, 255, 255, 1),
      45px 50px 0 0 rgba(121, 85, 72, 1), 50px 50px 0 0 rgba(255, 255, 255, 1),
      55px 50px 0 0 rgba(121, 85, 72, 1), 25px 55px 0 0 rgba(121, 85, 72, 1),
      30px 55px 0 0 rgba(121, 85, 72, 1), 35px 55px 0 0 rgba(121, 85, 72, 1),
      40px 55px 0 0 rgba(121, 85, 72, 1), 45px 55px 0 0 rgba(189, 163, 184, 1),
      50px 55px 0 0 rgba(121, 85, 72, 1), 55px 55px 0 0 rgba(121, 85, 72, 1),
      30px 60px 0 0 rgba(121, 85, 72, 1), 35px 60px 0 0 rgba(189, 163, 184, 1),
      40px 60px 0 0 rgba(189, 163, 184, 1), 45px 60px 0 0 rgba(189, 163, 184, 1),
      50px 60px 0 0 rgba(121, 85, 72, 1), 30px 65px 0 0 rgba(121, 85, 72, 1),
      35px 65px 0 0 rgba(189, 163, 184, 1), 40px 65px 0 0 rgba(189, 163, 184, 1),
      45px 65px 0 0 rgba(189, 163, 184, 1), 50px 65px 0 0 rgba(121, 85, 72, 1),
      30px 70px 0 0 rgba(121, 85, 72, 1), 35px 70px 0 0 rgba(189, 163, 184, 1),
      40px 70px 0 0 rgba(189, 163, 184, 1), 45px 70px 0 0 rgba(189, 163, 184, 1),
      50px 70px 0 0 rgba(121, 85, 72, 1), 30px 75px 0 0 rgba(121, 85, 72, 1),
      35px 75px 0 0 rgba(189, 163, 184, 1), 40px 75px 0 0 rgba(189, 163, 184, 1),
      45px 75px 0 0 rgba(189, 163, 184, 1), 50px 75px 0 0 rgba(121, 85, 72, 1),
      30px 80px 0 0 rgba(121, 85, 72, 1), 35px 80px 0 0 rgba(189, 163, 184, 1),
      40px 80px 0 0 rgba(189, 163, 184, 1), 45px 80px 0 0 rgba(189, 163, 184, 1),
      50px 80px 0 0 rgba(121, 85, 72, 1), 35px 85px 0 0 rgba(121, 85, 72, 1),
      40px 85px 0 0 rgba(121, 85, 72, 1), 45px 85px 0 0 rgba(121, 85, 72, 1);
    height: 5px;
    width: 5px;
  }
  16.71%,
  33.3% {
    box-shadow: 55px 10px 0 0 rgba(219, 150, 128, 1),
      40px 15px 0 0 rgba(219, 150, 128, 1), 45px 15px 0 0 rgba(219, 150, 128, 1),
      50px 15px 0 0 rgba(219, 150, 128, 1), 35px 20px 0 0 rgba(219, 150, 128, 1),
      40px 20px 0 0 rgba(234, 208, 139, 1), 45px 20px 0 0 rgba(234, 208, 139, 1),
      50px 20px 0 0 rgba(219, 150, 128, 1), 35px 25px 0 0 rgba(219, 150, 128, 1),
      40px 25px 0 0 rgba(234, 208, 139, 1), 45px 25px 0 0 rgba(219, 150, 128, 1),
      50px 25px 0 0 rgba(219, 150, 128, 1), 35px 30px 0 0 rgba(219, 150, 128, 1),
      40px 30px 0 0 rgba(121, 85, 72, 1), 40px 35px 0 0 rgba(121, 85, 72, 1),
      30px 40px 0 0 rgba(121, 85, 72, 1), 35px 40px 0 0 rgba(121, 85, 72, 1),
      40px 40px 0 0 rgba(121, 85, 72, 1), 45px 40px 0 0 rgba(121, 85, 72, 1),
      50px 40px 0 0 rgba(121, 85, 72, 1), 25px 45px 0 0 rgba(121, 85, 72, 1),
      30px 45px 0 0 rgba(255, 255, 255, 1), 35px 45px 0 0 rgba(255, 255, 255, 1),
      40px 45px 0 0 rgba(255, 255, 255, 1), 45px 45px 0 0 rgba(255, 255, 255, 1),
      50px 45px 0 0 rgba(255, 255, 255, 1), 55px 45px 0 0 rgba(121, 85, 72, 1),
      25px 50px 0 0 rgba(121, 85, 72, 1), 30px 50px 0 0 rgba(255, 255, 255, 1),
      35px 50px 0 0 rgba(255, 255, 255, 1), 40px 50px 0 0 rgba(255, 255, 255, 1),
      45px 50px 0 0 rgba(121, 85, 72, 1), 50px 50px 0 0 rgba(255, 255, 255, 1),
      55px 50px 0 0 rgba(121, 85, 72, 1), 25px 55px 0 0 rgba(121, 85, 72, 1),
      30px 55px 0 0 rgba(121, 85, 72, 1), 35px 55px 0 0 rgba(121, 85, 72, 1),
      40px 55px 0 0 rgba(121, 85, 72, 1), 45px 55px 0 0 rgba(189, 163, 184, 1),
      50px 55px 0 0 rgba(121, 85, 72, 1), 55px 55px 0 0 rgba(121, 85, 72, 1),
      30px 60px 0 0 rgba(121, 85, 72, 1), 35px 60px 0 0 rgba(189, 163, 184, 1),
      40px 60px 0 0 rgba(189, 163, 184, 1), 45px 60px 0 0 rgba(189, 163, 184, 1),
      50px 60px 0 0 rgba(121, 85, 72, 1), 30px 65px 0 0 rgba(121, 85, 72, 1),
      35px 65px 0 0 rgba(189, 163, 184, 1), 40px 65px 0 0 rgba(189, 163, 184, 1),
      45px 65px 0 0 rgba(189, 163, 184, 1), 50px 65px 0 0 rgba(121, 85, 72, 1),
      30px 70px 0 0 rgba(121, 85, 72, 1), 35px 70px 0 0 rgba(189, 163, 184, 1),
      40px 70px 0 0 rgba(189, 163, 184, 1), 45px 70px 0 0 rgba(189, 163, 184, 1),
      50px 70px 0 0 rgba(121, 85, 72, 1), 30px 75px 0 0 rgba(121, 85, 72, 1),
      35px 75px 0 0 rgba(189, 163, 184, 1), 40px 75px 0 0 rgba(189, 163, 184, 1),
      45px 75px 0 0 rgba(189, 163, 184, 1), 50px 75px 0 0 rgba(121, 85, 72, 1),
      30px 80px 0 0 rgba(121, 85, 72, 1), 35px 80px 0 0 rgba(189, 163, 184, 1),
      40px 80px 0 0 rgba(189, 163, 184, 1), 45px 80px 0 0 rgba(189, 163, 184, 1),
      50px 80px 0 0 rgba(121, 85, 72, 1), 35px 85px 0 0 rgba(121, 85, 72, 1),
      40px 85px 0 0 rgba(121, 85, 72, 1), 45px 85px 0 0 rgba(121, 85, 72, 1);
    height: 5px;
    width: 5px;
  }
  33.309999999999995%,
  50% {
    box-shadow: 35px 10px 0 0 rgba(219, 150, 128, 1),
      35px 15px 0 0 rgba(219, 150, 128, 1), 40px 15px 0 0 rgba(219, 150, 128, 1),
      30px 20px 0 0 rgba(219, 150, 128, 1), 35px 20px 0 0 rgba(234, 208, 139, 1),
      40px 20px 0 0 rgba(234, 208, 139, 1), 45px 20px 0 0 rgba(219, 150, 128, 1),
      30px 25px 0 0 rgba(219, 150, 128, 1), 35px 25px 0 0 rgba(234, 208, 139, 1),
      40px 25px 0 0 rgba(234, 208, 139, 1), 45px 25px 0 0 rgba(219, 150, 128, 1),
      35px 30px 0 0 rgba(219, 150, 128, 1), 40px 30px 0 0 rgba(121, 85, 72, 1),
      45px 30px 0 0 rgba(219, 150, 128, 1), 40px 35px 0 0 rgba(121, 85, 72, 1),
      30px 40px 0 0 rgba(121, 85, 72, 1), 35px 40px 0 0 rgba(121, 85, 72, 1),
      40px 40px 0 0 rgba(121, 85, 72, 1), 45px 40px 0 0 rgba(121, 85, 72, 1),
      50px 40px 0 0 rgba(121, 85, 72, 1), 25px 45px 0 0 rgba(121, 85, 72, 1),
      30px 45px 0 0 rgba(255, 255, 255, 1), 35px 45px 0 0 rgba(255, 255, 255, 1),
      40px 45px 0 0 rgba(255, 255, 255, 1), 45px 45px 0 0 rgba(255, 255, 255, 1),
      50px 45px 0 0 rgba(255, 255, 255, 1), 55px 45px 0 0 rgba(121, 85, 72, 1),
      25px 50px 0 0 rgba(121, 85, 72, 1), 30px 50px 0 0 rgba(255, 255, 255, 1),
      35px 50px 0 0 rgba(255, 255, 255, 1), 40px 50px 0 0 rgba(255, 255, 255, 1),
      45px 50px 0 0 rgba(121, 85, 72, 1), 50px 50px 0 0 rgba(255, 255, 255, 1),
      55px 50px 0 0 rgba(121, 85, 72, 1), 25px 55px 0 0 rgba(121, 85, 72, 1),
      30px 55px 0 0 rgba(121, 85, 72, 1), 35px 55px 0 0 rgba(121, 85, 72, 1),
      40px 55px 0 0 rgba(121, 85, 72, 1), 45px 55px 0 0 rgba(189, 163, 184, 1),
      50px 55px 0 0 rgba(121, 85, 72, 1), 55px 55px 0 0 rgba(121, 85, 72, 1),
      30px 60px 0 0 rgba(121, 85, 72, 1), 35px 60px 0 0 rgba(189, 163, 184, 1),
      40px 60px 0 0 rgba(189, 163, 184, 1), 45px 60px 0 0 rgba(189, 163, 184, 1),
      50px 60px 0 0 rgba(121, 85, 72, 1), 30px 65px 0 0 rgba(121, 85, 72, 1),
      35px 65px 0 0 rgba(189, 163, 184, 1), 40px 65px 0 0 rgba(189, 163, 184, 1),
      45px 65px 0 0 rgba(189, 163, 184, 1), 50px 65px 0 0 rgba(121, 85, 72, 1),
      30px 70px 0 0 rgba(121, 85, 72, 1), 35px 70px 0 0 rgba(189, 163, 184, 1),
      40px 70px 0 0 rgba(189, 163, 184, 1), 45px 70px 0 0 rgba(189, 163, 184, 1),
      50px 70px 0 0 rgba(121, 85, 72, 1), 30px 75px 0 0 rgba(121, 85, 72, 1),
      35px 75px 0 0 rgba(189, 163, 184, 1), 40px 75px 0 0 rgba(189, 163, 184, 1),
      45px 75px 0 0 rgba(189, 163, 184, 1), 50px 75px 0 0 rgba(121, 85, 72, 1),
      30px 80px 0 0 rgba(121, 85, 72, 1), 35px 80px 0 0 rgba(189, 163, 184, 1),
      40px 80px 0 0 rgba(189, 163, 184, 1), 45px 80px 0 0 rgba(189, 163, 184, 1),
      50px 80px 0 0 rgba(121, 85, 72, 1), 35px 85px 0 0 rgba(121, 85, 72, 1),
      40px 85px 0 0 rgba(121, 85, 72, 1), 45px 85px 0 0 rgba(121, 85, 72, 1);
    height: 5px;
    width: 5px;
  }
  50.01%,
  66.7% {
    box-shadow: 40px 20px 0 0 rgba(219, 150, 128, 1),
      35px 25px 0 0 rgba(219, 150, 128, 1), 40px 25px 0 0 rgba(234, 208, 139, 1),
      45px 25px 0 0 rgba(219, 150, 128, 1), 35px 30px 0 0 rgba(219, 150, 128, 1),
      40px 30px 0 0 rgba(121, 85, 72, 1), 45px 30px 0 0 rgba(219, 150, 128, 1),
      40px 35px 0 0 rgba(121, 85, 72, 1), 30px 40px 0 0 rgba(121, 85, 72, 1),
      35px 40px 0 0 rgba(121, 85, 72, 1), 40px 40px 0 0 rgba(121, 85, 72, 1),
      45px 40px 0 0 rgba(121, 85, 72, 1), 50px 40px 0 0 rgba(121, 85, 72, 1),
      25px 45px 0 0 rgba(121, 85, 72, 1), 30px 45px 0 0 rgba(255, 255, 255, 1),
      35px 45px 0 0 rgba(255, 255, 255, 1), 40px 45px 0 0 rgba(255, 255, 255, 1),
      45px 45px 0 0 rgba(255, 255, 255, 1), 50px 45px 0 0 rgba(255, 255, 255, 1),
      55px 45px 0 0 rgba(121, 85, 72, 1), 25px 50px 0 0 rgba(121, 85, 72, 1),
      30px 50px 0 0 rgba(255, 255, 255, 1), 35px 50px 0 0 rgba(255, 255, 255, 1),
      40px 50px 0 0 rgba(255, 255, 255, 1), 45px 50px 0 0 rgba(121, 85, 72, 1),
      50px 50px 0 0 rgba(255, 255, 255, 1), 55px 50px 0 0 rgba(121, 85, 72, 1),
      25px 55px 0 0 rgba(121, 85, 72, 1), 30px 55px 0 0 rgba(121, 85, 72, 1),
      35px 55px 0 0 rgba(121, 85, 72, 1), 40px 55px 0 0 rgba(121, 85, 72, 1),
      45px 55px 0 0 rgba(189, 163, 184, 1), 50px 55px 0 0 rgba(121, 85, 72, 1),
      55px 55px 0 0 rgba(121, 85, 72, 1), 30px 60px 0 0 rgba(121, 85, 72, 1),
      35px 60px 0 0 rgba(189, 163, 184, 1), 40px 60px 0 0 rgba(189, 163, 184, 1),
      45px 60px 0 0 rgba(189, 163, 184, 1), 50px 60px 0 0 rgba(121, 85, 72, 1),
      30px 65px 0 0 rgba(121, 85, 72, 1), 35px 65px 0 0 rgba(189, 163, 184, 1),
      40px 65px 0 0 rgba(189, 163, 184, 1), 45px 65px 0 0 rgba(189, 163, 184, 1),
      50px 65px 0 0 rgba(121, 85, 72, 1), 30px 70px 0 0 rgba(121, 85, 72, 1),
      35px 70px 0 0 rgba(189, 163, 184, 1), 40px 70px 0 0 rgba(189, 163, 184, 1),
      45px 70px 0 0 rgba(189, 163, 184, 1), 50px 70px 0 0 rgba(121, 85, 72, 1),
      30px 75px 0 0 rgba(121, 85, 72, 1), 35px 75px 0 0 rgba(189, 163, 184, 1),
      40px 75px 0 0 rgba(189, 163, 184, 1), 45px 75px 0 0 rgba(189, 163, 184, 1),
      50px 75px 0 0 rgba(121, 85, 72, 1), 30px 80px 0 0 rgba(121, 85, 72, 1),
      35px 80px 0 0 rgba(189, 163, 184, 1), 40px 80px 0 0 rgba(189, 163, 184, 1),
      45px 80px 0 0 rgba(189, 163, 184, 1), 50px 80px 0 0 rgba(121, 85, 72, 1),
      35px 85px 0 0 rgba(121, 85, 72, 1), 40px 85px 0 0 rgba(121, 85, 72, 1),
      45px 85px 0 0 rgba(121, 85, 72, 1);
    height: 5px;
    width: 5px;
  }
  66.71000000000001%,
  83.3% {
    box-shadow: 30px 10px 0 0 rgba(219, 150, 128, 1),
      40px 15px 0 0 rgba(219, 150, 128, 1), 40px 25px 0 0 rgba(219, 150, 128, 1),
      35px 30px 0 0 rgba(219, 150, 128, 1), 40px 30px 0 0 rgba(121, 85, 72, 1),
      40px 35px 0 0 rgba(121, 85, 72, 1), 30px 40px 0 0 rgba(121, 85, 72, 1),
      35px 40px 0 0 rgba(121, 85, 72, 1), 40px 40px 0 0 rgba(121, 85, 72, 1),
      45px 40px 0 0 rgba(121, 85, 72, 1), 50px 40px 0 0 rgba(121, 85, 72, 1),
      25px 45px 0 0 rgba(121, 85, 72, 1), 30px 45px 0 0 rgba(255, 255, 255, 1),
      35px 45px 0 0 rgba(255, 255, 255, 1), 40px 45px 0 0 rgba(255, 255, 255, 1),
      45px 45px 0 0 rgba(255, 255, 255, 1), 50px 45px 0 0 rgba(255, 255, 255, 1),
      55px 45px 0 0 rgba(121, 85, 72, 1), 25px 50px 0 0 rgba(121, 85, 72, 1),
      30px 50px 0 0 rgba(255, 255, 255, 1), 35px 50px 0 0 rgba(255, 255, 255, 1),
      40px 50px 0 0 rgba(255, 255, 255, 1), 45px 50px 0 0 rgba(121, 85, 72, 1),
      50px 50px 0 0 rgba(255, 255, 255, 1), 55px 50px 0 0 rgba(121, 85, 72, 1),
      25px 55px 0 0 rgba(121, 85, 72, 1), 30px 55px 0 0 rgba(121, 85, 72, 1),
      35px 55px 0 0 rgba(121, 85, 72, 1), 40px 55px 0 0 rgba(121, 85, 72, 1),
      45px 55px 0 0 rgba(189, 163, 184, 1), 50px 55px 0 0 rgba(121, 85, 72, 1),
      55px 55px 0 0 rgba(121, 85, 72, 1), 30px 60px 0 0 rgba(121, 85, 72, 1),
      35px 60px 0 0 rgba(189, 163, 184, 1), 40px 60px 0 0 rgba(189, 163, 184, 1),
      45px 60px 0 0 rgba(189, 163, 184, 1), 50px 60px 0 0 rgba(121, 85, 72, 1),
      30px 65px 0 0 rgba(121, 85, 72, 1), 35px 65px 0 0 rgba(189, 163, 184, 1),
      40px 65px 0 0 rgba(189, 163, 184, 1), 45px 65px 0 0 rgba(189, 163, 184, 1),
      50px 65px 0 0 rgba(121, 85, 72, 1), 30px 70px 0 0 rgba(121, 85, 72, 1),
      35px 70px 0 0 rgba(189, 163, 184, 1), 40px 70px 0 0 rgba(189, 163, 184, 1),
      45px 70px 0 0 rgba(189, 163, 184, 1), 50px 70px 0 0 rgba(121, 85, 72, 1),
      30px 75px 0 0 rgba(121, 85, 72, 1), 35px 75px 0 0 rgba(189, 163, 184, 1),
      40px 75px 0 0 rgba(189, 163, 184, 1), 45px 75px 0 0 rgba(189, 163, 184, 1),
      50px 75px 0 0 rgba(121, 85, 72, 1), 30px 80px 0 0 rgba(121, 85, 72, 1),
      35px 80px 0 0 rgba(189, 163, 184, 1), 40px 80px 0 0 rgba(189, 163, 184, 1),
      45px 80px 0 0 rgba(189, 163, 184, 1), 50px 80px 0 0 rgba(121, 85, 72, 1),
      35px 85px 0 0 rgba(121, 85, 72, 1), 40px 85px 0 0 rgba(121, 85, 72, 1),
      45px 85px 0 0 rgba(121, 85, 72, 1);
    height: 5px;
    width: 5px;
  }
  83.31%,
  100% {
    box-shadow: 40px 30px 0 0 rgba(121, 85, 72, 1),
      40px 35px 0 0 rgba(121, 85, 72, 1), 30px 40px 0 0 rgba(121, 85, 72, 1),
      35px 40px 0 0 rgba(121, 85, 72, 1), 40px 40px 0 0 rgba(121, 85, 72, 1),
      45px 40px 0 0 rgba(121, 85, 72, 1), 50px 40px 0 0 rgba(121, 85, 72, 1),
      25px 45px 0 0 rgba(121, 85, 72, 1), 30px 45px 0 0 rgba(255, 255, 255, 1),
      35px 45px 0 0 rgba(255, 255, 255, 1), 40px 45px 0 0 rgba(255, 255, 255, 1),
      45px 45px 0 0 rgba(255, 255, 255, 1), 50px 45px 0 0 rgba(255, 255, 255, 1),
      55px 45px 0 0 rgba(121, 85, 72, 1), 25px 50px 0 0 rgba(121, 85, 72, 1),
      30px 50px 0 0 rgba(255, 255, 255, 1), 35px 50px 0 0 rgba(255, 255, 255, 1),
      40px 50px 0 0 rgba(255, 255, 255, 1), 45px 50px 0 0 rgba(121, 85, 72, 1),
      50px 50px 0 0 rgba(255, 255, 255, 1), 55px 50px 0 0 rgba(121, 85, 72, 1),
      25px 55px 0 0 rgba(121, 85, 72, 1), 30px 55px 0 0 rgba(121, 85, 72, 1),
      35px 55px 0 0 rgba(121, 85, 72, 1), 40px 55px 0 0 rgba(121, 85, 72, 1),
      45px 55px 0 0 rgba(189, 163, 184, 1), 50px 55px 0 0 rgba(121, 85, 72, 1),
      55px 55px 0 0 rgba(121, 85, 72, 1), 30px 60px 0 0 rgba(121, 85, 72, 1),
      35px 60px 0 0 rgba(189, 163, 184, 1), 40px 60px 0 0 rgba(189, 163, 184, 1),
      45px 60px 0 0 rgba(189, 163, 184, 1), 50px 60px 0 0 rgba(121, 85, 72, 1),
      30px 65px 0 0 rgba(121, 85, 72, 1), 35px 65px 0 0 rgba(189, 163, 184, 1),
      40px 65px 0 0 rgba(189, 163, 184, 1), 45px 65px 0 0 rgba(189, 163, 184, 1),
      50px 65px 0 0 rgba(121, 85, 72, 1), 30px 70px 0 0 rgba(121, 85, 72, 1),
      35px 70px 0 0 rgba(189, 163, 184, 1), 40px 70px 0 0 rgba(189, 163, 184, 1),
      45px 70px 0 0 rgba(189, 163, 184, 1), 50px 70px 0 0 rgba(121, 85, 72, 1),
      30px 75px 0 0 rgba(121, 85, 72, 1), 35px 75px 0 0 rgba(189, 163, 184, 1),
      40px 75px 0 0 rgba(189, 163, 184, 1), 45px 75px 0 0 rgba(189, 163, 184, 1),
      50px 75px 0 0 rgba(121, 85, 72, 1), 30px 80px 0 0 rgba(121, 85, 72, 1),
      35px 80px 0 0 rgba(189, 163, 184, 1), 40px 80px 0 0 rgba(189, 163, 184, 1),
      45px 80px 0 0 rgba(189, 163, 184, 1), 50px 80px 0 0 rgba(121, 85, 72, 1),
      35px 85px 0 0 rgba(121, 85, 72, 1), 40px 85px 0 0 rgba(121, 85, 72, 1),
      45px 85px 0 0 rgba(121, 85, 72, 1);
    height: 5px;
    width: 5px;
  }
}

.cake {
  position: relative;
  width: 5px;
  height: 5px;
  transform: scale(3) translate(-57px, -57px);
  transform-origin: top left;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0), 10px 5px 0 0 rgba(0, 0, 0, 0),
    15px 5px 0 0 rgba(0, 0, 0, 0), 20px 5px 0 0 rgba(0, 0, 0, 0),
    25px 5px 0 0 rgba(0, 0, 0, 0), 30px 5px 0 0 rgba(0, 0, 0, 0),
    35px 5px 0 0 rgba(0, 0, 0, 0), 40px 5px 0 0 rgba(0, 0, 0, 0),
    45px 5px 0 0 rgba(0, 0, 0, 0), 50px 5px 0 0 rgba(0, 0, 0, 0),
    55px 5px 0 0 rgba(0, 0, 0, 0), 60px 5px 0 0 rgba(0, 0, 0, 0),
    65px 5px 0 0 rgba(0, 0, 0, 0), 70px 5px 0 0 rgba(0, 0, 0, 0),
    75px 5px 0 0 rgba(0, 0, 0, 0), 80px 5px 0 0 rgba(0, 0, 0, 0),
    85px 5px 0 0 rgba(0, 0, 0, 0), 90px 5px 0 0 rgba(0, 0, 0, 0),
    95px 5px 0 0 rgba(0, 0, 0, 0), 100px 5px 0 0 rgba(0, 0, 0, 0),
    5px 10px 0 0 rgba(0, 0, 0, 0), 10px 10px 0 0 rgba(0, 0, 0, 0),
    15px 10px 0 0 rgba(0, 0, 0, 0), 20px 10px 0 0 rgba(0, 0, 0, 0),
    25px 10px 0 0 rgba(0, 0, 0, 0), 30px 10px 0 0 rgba(0, 0, 0, 0),
    35px 10px 0 0 rgba(0, 0, 0, 0), 40px 10px 0 0 rgba(0, 0, 0, 0),
    45px 10px 0 0 rgba(0, 0, 0, 0), 50px 10px 0 0 rgba(0, 0, 0, 0),
    55px 10px 0 0 rgba(0, 0, 0, 0), 60px 10px 0 0 rgba(0, 0, 0, 0),
    65px 10px 0 0 rgba(0, 0, 0, 0), 70px 10px 0 0 rgba(0, 0, 0, 0),
    75px 10px 0 0 rgba(0, 0, 0, 0), 80px 10px 0 0 rgba(0, 0, 0, 0),
    85px 10px 0 0 rgba(0, 0, 0, 0), 90px 10px 0 0 rgba(0, 0, 0, 0),
    95px 10px 0 0 rgba(0, 0, 0, 0), 100px 10px 0 0 rgba(0, 0, 0, 0),
    5px 15px 0 0 rgba(0, 0, 0, 0), 10px 15px 0 0 rgba(0, 0, 0, 0),
    15px 15px 0 0 rgba(0, 0, 0, 0), 20px 15px 0 0 rgba(0, 0, 0, 0),
    25px 15px 0 0 rgba(0, 0, 0, 0), 30px 15px 0 0 rgba(218, 198, 173, 255),
    35px 15px 0 0 rgba(218, 198, 173, 255),
    40px 15px 0 0 rgba(219, 202, 176, 255),
    45px 15px 0 0 rgba(219, 202, 176, 255),
    50px 15px 0 0 rgba(218, 201, 175, 255),
    55px 15px 0 0 rgba(216, 202, 175, 255),
    60px 15px 0 0 rgba(217, 203, 176, 255),
    65px 15px 0 0 rgba(216, 202, 175, 255),
    70px 15px 0 0 rgba(218, 202, 176, 255),
    75px 15px 0 0 rgba(216, 200, 175, 255),
    80px 15px 0 0 rgba(218, 198, 173, 255), 85px 15px 0 0 rgba(0, 0, 0, 0),
    90px 15px 0 0 rgba(0, 0, 0, 0), 95px 15px 0 0 rgba(0, 0, 0, 0),
    100px 15px 0 0 rgba(0, 0, 0, 0), 5px 20px 0 0 rgba(0, 0, 0, 0),
    10px 20px 0 0 rgba(0, 0, 0, 0), 15px 20px 0 0 rgba(0, 0, 0, 0),
    20px 20px 0 0 rgba(218, 206, 184, 255),
    25px 20px 0 0 rgba(216, 202, 175, 255),
    30px 20px 0 0 rgba(243, 229, 202, 255),
    35px 20px 0 0 rgba(248, 231, 203, 255),
    40px 20px 0 0 rgba(255, 250, 230, 255),
    45px 20px 0 0 rgba(252, 250, 229, 255),
    50px 20px 0 0 rgba(254, 249, 229, 255),
    55px 20px 0 0 rgba(255, 248, 229, 255),
    60px 20px 0 0 rgba(255, 248, 229, 255),
    65px 20px 0 0 rgba(255, 250, 228, 255),
    70px 20px 0 0 rgba(254, 246, 225, 255),
    75px 20px 0 0 rgba(250, 235, 204, 255),
    80px 20px 0 0 rgba(216, 201, 172, 255),
    85px 20px 0 0 rgba(216, 207, 178, 255),
    90px 20px 0 0 rgba(211, 202, 185, 255), 95px 20px 0 0 rgba(0, 0, 0, 0),
    100px 20px 0 0 rgba(0, 0, 0, 0), 5px 25px 0 0 rgba(0, 0, 0, 0),
    10px 25px 0 0 rgba(0, 0, 0, 0), 15px 25px 0 0 rgba(218, 205, 188, 255),
    20px 25px 0 0 rgba(252, 233, 193, 255),
    25px 25px 0 0 rgba(255, 253, 248, 255),
    30px 25px 0 0 rgba(251, 255, 250, 255),
    35px 25px 0 0 rgba(255, 248, 244, 255), 40px 25px 0 0 rgba(154, 36, 52, 255),
    45px 25px 0 0 rgba(252, 255, 255, 255), 50px 25px 0 0 rgba(199, 32, 50, 255),
    55px 25px 0 0 rgba(188, 42, 53, 255), 60px 25px 0 0 rgba(160, 45, 52, 255),
    65px 25px 0 0 rgba(255, 255, 253, 255),
    70px 25px 0 0 rgba(248, 255, 248, 255),
    75px 25px 0 0 rgba(255, 255, 248, 255),
    80px 25px 0 0 rgba(255, 253, 246, 255),
    85px 25px 0 0 rgba(251, 236, 213, 255),
    90px 25px 0 0 rgba(249, 235, 208, 255),
    95px 25px 0 0 rgba(212, 201, 179, 255), 100px 25px 0 0 rgba(0, 0, 0, 0),
    5px 30px 0 0 rgba(0, 0, 0, 0), 10px 30px 0 0 rgba(215, 202, 182, 218),
    15px 30px 0 0 rgba(244, 231, 197, 255),
    20px 30px 0 0 rgba(255, 253, 240, 255), 25px 30px 0 0 rgba(120, 55, 49, 255),
    30px 30px 0 0 rgba(224, 187, 195, 255),
    35px 30px 0 0 rgba(255, 246, 244, 255),
    40px 30px 0 0 rgba(255, 237, 227, 255), 45px 30px 0 0 rgba(154, 50, 57, 255),
    50px 30px 0 0 rgba(255, 119, 111, 255), 55px 30px 0 0 rgba(233, 59, 60, 255),
    60px 30px 0 0 rgba(218, 55, 60, 255), 65px 30px 0 0 rgba(159, 47, 63, 255),
    70px 30px 0 0 rgba(255, 255, 255, 255), 75px 30px 0 0 rgba(134, 46, 60, 255),
    80px 30px 0 0 rgba(255, 255, 253, 255),
    85px 30px 0 0 rgba(255, 252, 248, 255),
    90px 30px 0 0 rgba(255, 252, 232, 255),
    95px 30px 0 0 rgba(254, 228, 205, 255),
    100px 30px 0 0 rgba(210, 207, 192, 202),
    10px 35px 0 0 rgba(213, 196, 170, 255),
    15px 35px 0 0 rgba(246, 232, 195, 255),
    20px 35px 0 0 rgba(254, 251, 255, 255), 25px 35px 0 0 rgba(120, 48, 59, 255),
    30px 35px 0 0 rgba(214, 174, 175, 255),
    35px 35px 0 0 rgba(255, 255, 244, 255),
    40px 35px 0 0 rgba(255, 242, 223, 255), 45px 35px 0 0 rgba(166, 38, 39, 255),
    50px 35px 0 0 rgba(255, 115, 97, 255), 55px 35px 0 0 rgba(231, 58, 54, 255),
    60px 35px 0 0 rgba(223, 55, 52, 255), 65px 35px 0 0 rgba(166, 47, 49, 255),
    70px 35px 0 0 rgba(254, 253, 255, 255), 75px 35px 0 0 rgba(134, 49, 42, 255),
    80px 35px 0 0 rgba(255, 252, 250, 255),
    85px 35px 0 0 rgba(255, 242, 243, 255),
    90px 35px 0 0 rgba(255, 240, 236, 255),
    95px 35px 0 0 rgba(241, 228, 196, 255),
    100px 35px 0 0 rgba(220, 204, 179, 255),
    10px 40px 0 0 rgba(214, 202, 176, 255),
    15px 40px 0 0 rgba(255, 251, 225, 255),
    20px 40px 0 0 rgba(252, 254, 253, 255),
    25px 40px 0 0 rgba(255, 255, 251, 255),
    30px 40px 0 0 rgba(255, 253, 237, 255),
    35px 40px 0 0 rgba(255, 243, 229, 255),
    40px 40px 0 0 rgba(255, 255, 244, 255),
    45px 40px 0 0 rgba(217, 199, 177, 255), 50px 40px 0 0 rgba(216, 56, 58, 255),
    55px 40px 0 0 rgba(202, 36, 40, 255), 60px 40px 0 0 rgba(168, 43, 49, 255),
    65px 40px 0 0 rgba(209, 198, 170, 255),
    70px 40px 0 0 rgba(249, 255, 250, 255),
    75px 40px 0 0 rgba(253, 247, 233, 255),
    80px 40px 0 0 rgba(255, 253, 252, 255),
    85px 40px 0 0 rgba(238, 144, 145, 255), 90px 40px 0 0 rgba(194, 65, 60, 255),
    95px 40px 0 0 rgba(255, 247, 226, 255),
    100px 40px 0 0 rgba(209, 200, 169, 255),
    10px 45px 0 0 rgba(216, 199, 169, 255),
    15px 45px 0 0 rgba(247, 234, 200, 255),
    20px 45px 0 0 rgba(255, 253, 255, 255),
    25px 45px 0 0 rgba(255, 252, 252, 255),
    30px 45px 0 0 rgba(206, 108, 109, 255), 35px 45px 0 0 rgba(188, 60, 51, 255),
    40px 45px 0 0 rgba(255, 250, 228, 255),
    45px 45px 0 0 rgba(248, 224, 198, 255),
    50px 45px 0 0 rgba(222, 198, 174, 255),
    55px 45px 0 0 rgba(212, 202, 177, 255),
    60px 45px 0 0 rgba(206, 205, 177, 255),
    65px 45px 0 0 rgba(246, 238, 219, 255),
    70px 45px 0 0 rgba(255, 251, 227, 255),
    75px 45px 0 0 rgba(249, 255, 249, 255),
    80px 45px 0 0 rgba(254, 255, 251, 255),
    85px 45px 0 0 rgba(255, 253, 242, 255),
    90px 45px 0 0 rgba(255, 251, 219, 255),
    95px 45px 0 0 rgba(247, 231, 198, 255),
    100px 45px 0 0 rgba(214, 197, 169, 255),
    10px 50px 0 0 rgba(216, 199, 171, 255),
    15px 50px 0 0 rgba(248, 232, 198, 255),
    20px 50px 0 0 rgba(254, 248, 232, 255),
    25px 50px 0 0 rgba(255, 251, 222, 255),
    30px 50px 0 0 rgba(252, 252, 244, 255),
    35px 50px 0 0 rgba(255, 254, 251, 255),
    40px 50px 0 0 rgba(253, 254, 248, 255),
    45px 50px 0 0 rgba(254, 255, 251, 255),
    50px 50px 0 0 rgba(249, 255, 250, 255),
    55px 50px 0 0 rgba(254, 255, 248, 255),
    60px 50px 0 0 rgba(254, 255, 253, 255),
    65px 50px 0 0 rgba(252, 255, 248, 255), 70px 50px 0 0 rgba(229, 51, 51, 255),
    75px 50px 0 0 rgba(255, 255, 248, 255),
    80px 50px 0 0 rgba(255, 246, 230, 255),
    85px 50px 0 0 rgba(251, 242, 211, 255),
    90px 50px 0 0 rgba(248, 234, 205, 255),
    95px 50px 0 0 rgba(248, 229, 197, 255),
    100px 50px 0 0 rgba(214, 198, 172, 255), 5px 55px 0 0 rgba(0, 0, 0, 0),
    10px 55px 0 0 rgba(100, 55, 24, 255), 15px 55px 0 0 rgba(252, 234, 196, 255),
    20px 55px 0 0 rgba(255, 249, 226, 255),
    25px 55px 0 0 rgba(255, 249, 227, 255),
    30px 55px 0 0 rgba(253, 248, 228, 255),
    35px 55px 0 0 rgba(255, 249, 236, 255),
    40px 55px 0 0 rgba(253, 251, 238, 255),
    45px 55px 0 0 rgba(253, 250, 233, 255),
    50px 55px 0 0 rgba(253, 249, 237, 255),
    55px 55px 0 0 rgba(251, 236, 215, 255),
    60px 55px 0 0 rgba(243, 232, 210, 255),
    65px 55px 0 0 rgba(250, 250, 222, 255),
    70px 55px 0 0 rgba(255, 223, 192, 255),
    75px 55px 0 0 rgba(243, 235, 212, 255),
    80px 55px 0 0 rgba(248, 233, 200, 255),
    85px 55px 0 0 rgba(241, 231, 195, 255),
    90px 55px 0 0 rgba(251, 231, 198, 255),
    95px 55px 0 0 rgba(222, 202, 175, 255), 100px 55px 0 0 rgba(97, 47, 22, 255),
    5px 60px 0 0 rgba(0, 0, 0, 0), 10px 60px 0 0 rgba(109, 53, 18, 255),
    15px 60px 0 0 rgba(216, 174, 136, 255),
    20px 60px 0 0 rgba(255, 239, 225, 255),
    25px 60px 0 0 rgba(255, 247, 224, 255),
    30px 60px 0 0 rgba(254, 252, 229, 255),
    35px 60px 0 0 rgba(253, 253, 227, 255),
    40px 60px 0 0 rgba(255, 251, 225, 255),
    45px 60px 0 0 rgba(255, 251, 227, 255),
    50px 60px 0 0 rgba(255, 251, 226, 255),
    55px 60px 0 0 rgba(251, 234, 206, 255),
    60px 60px 0 0 rgba(244, 230, 201, 255),
    65px 60px 0 0 rgba(254, 242, 216, 255),
    70px 60px 0 0 rgba(242, 235, 193, 255),
    75px 60px 0 0 rgba(251, 230, 199, 255),
    80px 60px 0 0 rgba(247, 230, 202, 255),
    85px 60px 0 0 rgba(245, 223, 199, 255),
    90px 60px 0 0 rgba(242, 218, 194, 255),
    95px 60px 0 0 rgba(180, 149, 120, 255), 100px 60px 0 0 rgba(93, 46, 26, 255),
    5px 65px 0 0 rgba(0, 0, 0, 0), 10px 65px 0 0 rgba(114, 51, 20, 255),
    15px 65px 0 0 rgba(153, 78, 39, 255), 20px 65px 0 0 rgba(250, 222, 185, 255),
    25px 65px 0 0 rgba(253, 245, 209, 255),
    30px 65px 0 0 rgba(255, 249, 230, 255),
    35px 65px 0 0 rgba(255, 251, 230, 255),
    40px 65px 0 0 rgba(254, 252, 231, 255),
    45px 65px 0 0 rgba(255, 250, 228, 255),
    50px 65px 0 0 rgba(255, 250, 222, 255),
    55px 65px 0 0 rgba(244, 232, 210, 255),
    60px 65px 0 0 rgba(242, 231, 201, 255),
    65px 65px 0 0 rgba(253, 229, 205, 255),
    70px 65px 0 0 rgba(241, 226, 193, 255),
    75px 65px 0 0 rgba(253, 231, 207, 255),
    80px 65px 0 0 rgba(249, 228, 197, 255),
    85px 65px 0 0 rgba(230, 211, 178, 255),
    90px 65px 0 0 rgba(214, 195, 163, 255), 95px 65px 0 0 rgba(112, 48, 20, 255),
    100px 65px 0 0 rgba(55, 30, 8, 255), 5px 70px 0 0 rgba(0, 0, 0, 0),
    10px 70px 0 0 rgba(119, 50, 17, 255), 15px 70px 0 0 rgba(145, 70, 31, 255),
    20px 70px 0 0 rgba(165, 84, 28, 255), 25px 70px 0 0 rgba(255, 227, 190, 255),
    30px 70px 0 0 rgba(253, 241, 215, 255),
    35px 70px 0 0 rgba(255, 252, 230, 255),
    40px 70px 0 0 rgba(255, 249, 231, 255),
    45px 70px 0 0 rgba(246, 246, 220, 255),
    50px 70px 0 0 rgba(248, 228, 201, 255),
    55px 70px 0 0 rgba(252, 231, 200, 255),
    60px 70px 0 0 rgba(245, 231, 196, 255),
    65px 70px 0 0 rgba(251, 228, 197, 255),
    70px 70px 0 0 rgba(249, 253, 228, 255),
    75px 70px 0 0 rgba(247, 230, 202, 255), 80px 70px 0 0 rgba(164, 82, 44, 255),
    85px 70px 0 0 rgba(148, 75, 34, 255), 90px 70px 0 0 rgba(141, 67, 30, 255),
    95px 70px 0 0 rgba(113, 49, 22, 255), 100px 70px 0 0 rgba(59, 28, 8, 255),
    5px 75px 0 0 rgba(0, 0, 0, 0), 10px 75px 0 0 rgba(112, 51, 20, 255),
    15px 75px 0 0 rgba(151, 72, 29, 255), 20px 75px 0 0 rgba(184, 94, 34, 255),
    25px 75px 0 0 rgba(187, 101, 42, 255), 30px 75px 0 0 rgba(177, 93, 33, 255),
    35px 75px 0 0 rgba(159, 89, 37, 255), 40px 75px 0 0 rgba(252, 228, 194, 255),
    45px 75px 0 0 rgba(169, 88, 41, 255), 50px 75px 0 0 rgba(183, 99, 35, 255),
    55px 75px 0 0 rgba(169, 89, 28, 255), 60px 75px 0 0 rgba(168, 84, 38, 255),
    65px 75px 0 0 rgba(143, 69, 40, 255), 70px 75px 0 0 rgba(250, 230, 203, 255),
    75px 75px 0 0 rgba(136, 72, 37, 255), 80px 75px 0 0 rgba(178, 79, 40, 255),
    85px 75px 0 0 rgba(169, 83, 36, 255), 90px 75px 0 0 rgba(167, 83, 37, 255),
    95px 75px 0 0 rgba(114, 49, 19, 255), 100px 75px 0 0 rgba(57, 29, 8, 255),
    5px 80px 0 0 rgba(0, 0, 0, 0), 10px 80px 0 0 rgba(0, 0, 0, 0),
    15px 80px 0 0 rgba(105, 51, 17, 255), 20px 80px 0 0 rgba(151, 74, 28, 255),
    25px 80px 0 0 rgba(194, 104, 44, 255), 30px 80px 0 0 rgba(196, 102, 40, 255),
    35px 80px 0 0 rgba(180, 96, 34, 255), 40px 80px 0 0 rgba(199, 105, 41, 255),
    45px 80px 0 0 rgba(193, 95, 34, 255), 50px 80px 0 0 rgba(197, 105, 42, 255),
    55px 80px 0 0 rgba(186, 95, 38, 255), 60px 80px 0 0 rgba(182, 92, 39, 255),
    65px 80px 0 0 rgba(185, 88, 37, 255), 70px 80px 0 0 rgba(173, 91, 44, 255),
    75px 80px 0 0 rgba(178, 80, 33, 255), 80px 80px 0 0 rgba(169, 84, 29, 255),
    85px 80px 0 0 rgba(151, 76, 37, 255), 90px 80px 0 0 rgba(132, 69, 36, 255),
    95px 80px 0 0 rgba(63, 27, 13, 255), 100px 80px 0 0 rgba(0, 0, 0, 0),
    5px 85px 0 0 rgba(0, 0, 0, 0), 10px 85px 0 0 rgba(0, 0, 0, 0),
    15px 85px 0 0 rgba(0, 0, 0, 0), 20px 85px 0 0 rgba(118, 50, 15, 255),
    25px 85px 0 0 rgba(105, 42, 7, 255), 30px 85px 0 0 rgba(163, 83, 34, 255),
    35px 85px 0 0 rgba(189, 94, 28, 255), 40px 85px 0 0 rgba(201, 98, 40, 255),
    45px 85px 0 0 rgba(196, 100, 42, 255), 50px 85px 0 0 rgba(201, 98, 39, 255),
    55px 85px 0 0 rgba(199, 99, 39, 255), 60px 85px 0 0 rgba(194, 98, 37, 255),
    65px 85px 0 0 rgba(192, 97, 43, 255), 70px 85px 0 0 rgba(169, 82, 28, 255),
    75px 85px 0 0 rgba(149, 63, 28, 255), 80px 85px 0 0 rgba(69, 22, 0, 255),
    85px 85px 0 0 rgba(71, 20, 0, 255), 90px 85px 0 0 rgba(63, 28, 9, 255),
    95px 85px 0 0 rgba(0, 0, 0, 0), 100px 85px 0 0 rgba(0, 0, 0, 0),
    5px 90px 0 0 rgba(0, 0, 0, 0), 10px 90px 0 0 rgba(0, 0, 0, 0),
    15px 90px 0 0 rgba(0, 0, 0, 0), 30px 90px 0 0 rgba(64, 37, 20, 255),
    35px 90px 0 0 rgba(64, 37, 20, 255), 40px 90px 0 0 rgba(64, 37, 20, 255),
    45px 90px 0 0 rgba(64, 37, 20, 255), 50px 90px 0 0 rgba(64, 37, 20, 255),
    55px 90px 0 0 rgba(64, 37, 20, 255), 60px 90px 0 0 rgba(64, 37, 20, 255),
    65px 90px 0 0 rgba(64, 37, 20, 255), 70px 90px 0 0 rgba(64, 37, 20, 255),
    75px 90px 0 0 rgba(64, 37, 20, 255), 80px 90px 0 0 rgba(64, 37, 20, 255),
    100px 90px 0 0 rgba(0, 0, 0, 0), 5px 95px 0 0 rgba(0, 0, 0, 0),
    10px 95px 0 0 rgba(0, 0, 0, 0), 15px 95px 0 0 rgba(0, 0, 0, 0),
    20px 95px 0 0 rgba(0, 0, 0, 0), 100px 95px 0 0 rgba(0, 0, 0, 0),
    5px 100px 0 0 rgba(0, 0, 0, 0), 10px 100px 0 0 rgba(0, 0, 0, 0),
    15px 100px 0 0 rgba(0, 0, 0, 0), 20px 100px 0 0 rgba(0, 0, 0, 0),
    25px 100px 0 0 rgba(0, 0, 0, 0), 30px 100px 0 0 rgba(0, 0, 0, 0),
    35px 100px 0 0 rgba(0, 0, 0, 0), 40px 100px 0 0 rgba(0, 0, 0, 0),
    45px 100px 0 0 rgba(0, 0, 0, 0), 50px 100px 0 0 rgba(0, 0, 0, 0),
    55px 100px 0 0 rgba(0, 0, 0, 0), 60px 100px 0 0 rgba(0, 0, 0, 0),
    65px 100px 0 0 rgba(0, 0, 0, 0), 70px 100px 0 0 rgba(0, 0, 0, 0),
    75px 100px 0 0 rgba(0, 0, 0, 0), 80px 100px 0 0 rgba(0, 0, 0, 0),
    85px 100px 0 0 rgba(0, 0, 0, 0), 90px 100px 0 0 rgba(0, 0, 0, 0),
    95px 100px 0 0 rgba(0, 0, 0, 0), 100px 100px 0 0 rgba(0, 0, 0, 0);
}
